.login-card {
    width: 80%;
    max-width: 400px; /* Adjust maximum width as per your requirement */
    margin: auto;
    text-align: center;
  }
  .logo {
    width: 10%; /* Adjust width as needed */
    height: 10%; /* Maintain aspect ratio */
    margin: 0 auto; /* Center align horizontally */
    display: block; /* Ensure block-level element behavior */
  }