<ion-header>
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      Cash-Flow
    </ion-card-header>
    <ion-card-content>
      <canvas id="cashFlowChart"></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Location Wise
    </ion-card-header>
    <ion-card-content>
      <canvas id="locationWiseChart"></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
