.custom-button {
  width: 100px; /* Adjust the width as needed */
}
.logo {
  width: 10%; /* Adjust width as needed */
  height: 10%; /* Maintain aspect ratio */
  margin: 0 auto; /* Center align horizontally */
  display: block; /* Ensure block-level element behavior */
}